
body{
  background-color: #ffffff;
  font-family: 'Tex' , sans-serif;
  color: #073842;
}

@font-face {
  font-family: 'Tex';
  src: url('Assets/Fonts/texgyreadventor-bold.otf') format('opentype');
}

@font-face {
  font-family: 'Jost';
  src: url('Assets/Fonts/Jost-VariableFont_wght.ttf') format('truetype');
}

.jost {
    font-family: 'Jost', sans-serif;
}

.tex {
  font-family: 'Tex', sans-serif;
}

.imgeanimate {
  scale: 1.1;
  animation: image 8s linear infinite;
  filter: brightness(0.7);
}

@keyframes image {
  to{
    scale : 1.2;
    transform: translateY(-10px);
    transform: translateX(50px);
  }
}

.scrolltext{
  animation: scroll 18s linear infinite;
}


@keyframes scroll {
  from{
    transform: translateX(0px);
  }
  to{ 
    transform: translateX(-800px);
  }
}

.swiper-slide {
  box-shadow: none !important;
  background: transparent !important;
}

.swiper-slide-shadow {
  display: none !important;
}

.hide-scrollbar {
  scrollbar-width: none;        
  -ms-overflow-style: none;    
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;                
}



/* Add these to your existing CSS

@keyframes sliderFade {
  0% { opacity: 0; }
  5% { opacity: 1; }
  30% { opacity: 1; }
  35% { opacity: 0; }
  100% { opacity: 0; }
}

.animate-slide {
  animation-name: sliderFade;
  animation-duration: 18s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

/* Timing for each image */
/* .fade-1 {
  animation-delay: 0s;
}
.fade-2 {
  animation-delay: 6s;
}
.fade-3 {
  animation-delay: 12s;
}  */

